{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h1>Professeurs de {{ student.name }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for professor in professors %}
            <tr>
                <td>{{ professor.name }}</td>
                <td><a href="mailto:{{ professor.email }}">{{ professor.email }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
